<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop.xsd
	"
	>
	<!-- 扫描@Component,并生成相关类的实例，加载到spring容器中 -->
	<context:component-scan base-package="com.oaec.springtx.demo01"></context:component-scan>
	
	<!-- 配置数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver"></property>
		<property name="jdbcUrl" value="jdbc:oracle:thin:@localhost:1521:XE"></property>
		<property name="user" value="mybook"></property>
		<property name="password" value="123"></property>
		<property name="minPoolSize" value="5"></property>
		<property name="maxPoolSize" value="100"></property>
	</bean>
	
	<!-- 配置平台事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>	
	</bean>
	
	<!-- 基于代理的事务管理 -->
	<!-- <bean id="accountServiceProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		配置给哪个类做代理
		<property name="taget" ref="accountService"></property>
		指定平台事务管理器
		<property name="transactionManager" ref="transactionManager"></property>
		给指定方法添加事务控制
		<property name="transactionAttributes">
			<props>
				<prop key="transfer">-java.lang.NullPointerException</prop>
			</props>
		</property>
	</bean> -->
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" p:dataSource-ref="dataSource">
		<!-- <constructor-arg ref="dataSource"></constructor-arg> -->
		<!-- <property name="dataSource" ref="dataSource"></property> -->
	</bean>
	
</beans>